version: '3.8'

services:
  wordpress:
    container_name: wordpress-nuevo  # Nombre diferente
    platform: linux/amd64
    depends_on:
      db:
        condition: service_healthy
    image: wordpress:latest
    volumes:
      - ./site/wp-content:/var/www/html/wp-content
      - ./init/prep.sh:/prep.sh
    ports:
      - "8888:80"  # Cambiado de 8080 a 8888
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: linarysdbuser
      WORDPRESS_DB_PASSWORD: unamuysegura
      WORDPRESS_DB_NAME: linarysdb
      WORDPRESS_TABLE_PREFIX: dGY66rR_
      WORDPRESS_DEBUG: "1"
      PRODUCTION_URL: "http://linarys.ch"
    command: >
      sh -c "
        docker-entrypoint.sh apache2-foreground &
        sleep 15
        chmod +x /prep.sh
        /prep.sh
        wait
      "
  db:
    container_name: db-nuevo  # Nombre diferente
    image: mysql:5.7
    platform: linux/amd64
    command: "--default-authentication-plugin=mysql_native_password"
    volumes:
      - ./database:/var/lib/mysql
      - ./mysqldumps/backup.sql.gz:/docker-entrypoint-initdb.d/backup.sql.gz
      - ./init/migrate.sh:/docker-entrypoint-initdb.d/migrate.sh
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: unamuysegura
      MYSQL_DATABASE: linarysdb
      MYSQL_USER: linarysdbuser
      MYSQL_PASSWORD: unamuysegura
      WORDPRESS_TABLE_PREFIX: dGY66rR_
      PRODUCTION_URL: "http://linarys.ch"
    ports:
      - "3309:3306"  # Cambiado de 3307 a 3309
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-punamuysegura"]
      interval: 10s
      timeout: 5s
      retries: 20

  adminer:
    container_name: adminer-nuevo  # Nombre diferente
    image: adminer
    restart: always
    ports:
      - "8889:8080"  # Cambiado de 8082 a 8889
