.background_cate{
  background: #F1EAF6;
  padding: 120px 0px 150px;
  margin-bottom: -80px;
}

.box_category{
    width: 80%;
    margin: 10% auto;
    padding: 2% 4%;
}
.container_cate{
  margin: 10% 10%;
}

@media screen and (max-width: 991px){
  .box_category{
    width: 85%;
    padding: 2% 0%;
  }
}
@media screen and (max-width: 575px){
  .box_category{
    width: 65%;
  }
}
@media screen and (max-width: 375px){
  .box_category{
    width: 85%;
  }
  .container_cate{
    margin: 10% 8%;
  }
}
