
.icon-about_us:before { content: '\e800'; } /* '' */
.icon-blog:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-contact:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-i-analysis:before { content: '\e806'; } /* '' */
.icon-i-consistency:before { content: '\e807'; } /* '' */
.icon-i-delivery:before { content: '\e808'; } /* '' */
.icon-i-implementation:before { content: '\e809'; } /* '' */
.icon-i-steps:before { content: '\e80a'; } /* '' */
.icon-i-quality:before { content: '\e80b'; } /* '' */
.icon-i-synthesis:before { content: '\e80c'; } /* '' */
.icon-i-testing:before { content: '\e80d'; } /* '' */
.icon-i-trust:before { content: '\e80e'; } /* '' */
.icon-instagram:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-offer:before { content: '\e812'; } /* '' */
.icon-our-work:before { content: '\e813'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-linkedin:before { content: '\e815'; } /* '' */
.icon-twitter:before { content: '\e816'; } /* '' */
.icon-youtube:before { content: '\e817'; } /* '' */
.icon-ml:before { content: '\e818'; } /* '' */
